
/***********CSS Login Page**********/

//background Login Page
.page-login-page {
  background-image: linear-gradient(to right, color($colors,midBlue), color($colors,darkBlue));
}

.page-login-container {
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;
  justify-content: space-between;
}

.login-page-title-container {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
  //Login Page Title
  .login-page-title {
    width: 100%;
    color: #ffffff;
    font-size: 4rem;
  }
}

//login inputs container
.login-inputs {
  align-self: center;
  justify-content: center;
  width: 50%;
  margin: 0;
  ion-list {
    margin-bottom: 0;
  }
  @media (max-width: 650px) {
    width: 80%;
    padding: 10px;
  }
  @media (min-height: 300px) and (max-height: 380px) {
    margin-bottom: 10px;
    margin-top: 25%;
  }
}

.trident-logo-container{
  position: relative;
  .trident-logo {
    position: absolute;
    left: 25px;
  }
  ion-label {
    margin-bottom: 0;
    margin-left: 100px;
  }
}

.gilson-logo-container {
  text-align: right;
  .gilson-logo {
    transform: scaleX(1) scale(1);
    @media (max-height: 380px) {
      bottom: -2px;
    }
  }
}


//login input email and mdp
.login-input{
  height: 30px;
  margin-bottom: 3vh;
}

.login-remembeMe {
  background-color: transparent;
  padding: 0;
  color: #FFF;
  margin-bottom: 0 !important;
  // Login page - checkbox
  .login-checkbox {
    position: absolute;
    top: 57vh;
    left: 30vw;
    padding: 0;
    margin: 0;
  }
  //Login page remember me label
  ion-label{
    position: absolute;
    // top: 57vh;
    left: 30px;
    color: #FFFFFF;
    font-size: 1.5rem;
    margin: 0;
  }
}

.login-buttons {
  align-self: center;
  position: relative;
  display: flex;
  // login button
  .login-button {
    width: 50%;
    min-height: 45px;
    height: 45px;
    font-size: 2rem;
  }
  // sign-up button
  .signUp-button {
    width: 50%;
    min-height: 45px;
    height: 45px;
    font-size: 2rem;
    color: #FFFFFF;
    border-width: 0.3rem;
  }
}

.pass-visibility {
  height: 7vh;
  min-height: 7vh;
  right: -2vh;
}


