<ion-content class="page-login-page">
  <div class="page-login-container">
    <!--logos-->
    <div class="trident-logo-container">
      <img class="trident-logo" alt="logo" src="assets/img/Gilson_Flag_RGB_57x77.png" />
      <ion-label color="primary" fixed>
        {{ "loginPage.forgot" | translate }}
      </ion-label>
    </div>
    <div class="login-inputs">
      <!--page-title-->
      <div class="login-page-title-container">
        <label class="login-page-title">
          {{ "trackmanScreen.pageTitle" | translate }}
        </label>
      </div>
      <!--login inputs-->
      <ion-list>
        <ion-item class="login-input">
          <ion-input type="email" [placeholder]="'loginPage.userName' | translate" item-left></ion-input>
        </ion-item>
        <ion-item class="login-input" style="margin-top:3vh;">
          <ion-input #pass_input type="password" [placeholder]="'loginPage.password' | translate " item-left>
          </ion-input>
          <button ion-button class="pass-visibility" clear type="button" item-right (click)="showHidePassword(pass_input)">
            <img src="assets/img/eye_crossed_78x78.png" style="height: 5vh;" *ngIf="visible" item-right/>
            <img src="assets/img/eye_normal_78x78.png" style="height: 5vh;" *ngIf="!visible" item-right/>
          </button>
        </ion-item>
        <ion-item class="login-input login-remembeMe">
          <!--remember me checkbox-->
          <ion-label>
            {{ "loginPage.rememberMe" | translate }}
          </ion-label>
          <ion-checkbox class="login-checkbox"></ion-checkbox>
        </ion-item>
      </ion-list>
      <!--login/signUp buttons-->
      <div class="login-buttons">
        <button ion-button class="login-button" (click)="login()">
          {{ "loginPage.login" | translate }}
        </button>
        <button ion-button class="signUp-button" outline>
          {{ "loginPage.signUp" | translate }}
        </button>
      </div>
    </div>
    <div class="gilson-logo-container">
      <img class="gilson-logo" alt="logo" src="assets/img/Gilson_Logo_WHITE_178x55.png" />
    </div>
  </div>
</ion-content>
